<!-- templates/fapp.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Natural Language 2 SQL via OpenAI Completion API</title>
</head>
<body>
    <h1>Enter Question</h1>
    <form method="POST">
        <label for="Question">Enter Query Question:</label>
        <input type="text" name="Question" id="Question"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if Question %}
        <h2>Results:</h2>
        <br>
        <p>Question = {{ Question }}</p>
        <br>
        <p>Results</p>
        <!-- The | safe filter is used to prevent Jinja2 from escaping the HTML code and rendering it as text. -->
        <p>{{Results | safe}}</p>  
        <p>Query </p>
        <p>{{Query}}</p>
        
    {% endif %}
</body>
</html>
